# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DATABASE_URL=sqlite:///db.sqlite3

# Email Settings (Optional)
EMAIL_HOST_PASSWORD=guva bovg ckva sfip
EMAIL_HOST_USER=suzzainnegathu@gmail.com
AVIATIONSTACK_API_KEY = "eb30f156b187e1add6ec56545e405675"
PEXELS_API_KEY="v4L5uDaLQzbSebE9Ib21qQ9ScL2gpH7heumuQH00FJvCKNHrFZ3KmaDB"
